* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            font-family: 'Times New Roman', serif;
            background-image: url('contact.jpg');
            background-size: cover;
            background-position: center;
            color: white;
        }

        
        /* Header */
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 30px;
            background-color: #1A2A7A;
        }

        .brand {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        .logo {
            width: 50px;
            height: auto;
        }

        .title {
            display: flex;
            flex-direction: column;
        }

        .title h1 {
            font-size: 20px;
            line-height: 1.5;
            margin: 0 0 5px 0;
            color:white;
        }

        .title h2 {
            font-size: 16px;
            line-height: 1.4;
            margin: 0;
            color:white;
        }

        /* Navbar */
        .nav_links {
            list-style: none;
            display: flex;
            gap: 20px;
        }

        .nav_links li a {
            color: #edf0f1;
            text-decoration: none;
            padding: 5px 10px;
            border-radius: 5px;
            transition: 0.3s;
            font-family: 'khmer muol';
        }

        .nav_links li a:hover {
             background-color: #ececec;
            color: #1A2A7A;
             transition: transform 0.3s ease, box-shadow 0.3s ease;
             box-shadow: 0 8px 20px rgba(0,0,0,0.5); /* shadow effect */
        }

        .container {
            max-width: 600px;
            margin: 40px auto;
            padding: 20px;
             border-radius: 20px;
             text-align: center;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            background-color: rgba(26, 42, 122, 0.9);
        }
        .container :hover {
            transform: translateY(-5px) scale(1.02); /* slightly lift on hover */
            box-shadow: 0 12px 30px rgba(0,0,0,0.7); /* stronger shadow on hover */
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .contact-box {
           
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 5px 15px rgba(0,0,0,0.1);
        }

        .contact-box h2 {
            text-align: center;
            margin-bottom: 25px;
            color:white;
            
        }

        .contact-item {
            display: flex;
            align-items: center;
            margin-bottom: 40px;
            padding: 10px;
            background-color: #ecf0f1;
            border-radius: 5px;
            color:#170F87;
             transition: transform 0.3s ease, box-shadow 0.3s ease;
             box-shadow: 0 8px 20px rgba(0,0,0,0.5);
        }

        .contact-item span {
            font-size: 22px;
            margin-right: 15px;
        }

        .contact-item a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
        }

        .contact-item a:hover {
            color: #2980b9;
        }

        footer {
            background-color: #2c3e50;
            color: white;
            text-align: center;
            padding: 10px;
            margin-top: 30px;
            background-color: rgba(26, 42, 122, 0.9);
        }